<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wayangg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pop_wkli"></activity>
        <activity android:name=".Pop_wb" />
        <activity android:name=".Pop_wo" />
        <activity android:name=".Pop_wg" />
        <activity android:name=".Pop_wk" />
        <activity android:name=".TokohPunakawan" />
        <activity android:name=".TokohMahabharata" />
        <activity android:name=".TokohRamayana" />
        <activity android:name=".TokohDewaDewi" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Menu" />
        <activity android:name=".SlideScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>